/* Sets initial padding and margin to zero for entire page */
* {
  padding: 0;
  margin: 0;
}

/* makes scroll smooth */

html {
  scroll-behavior: smooth;
}

/* nav section starts */

.txt {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
nav {
  width: 100%;
  display: flex; /*display element side-to-side*/
  justify-content: flex-end; /*starts content from end*/
  background-color: transparent;
}
.ul {
  display: flex;
  gap: 10px;
}
.nav-items {
  display: inline-block; /*place elements side-by-side*/
  position: relative;
  list-style: none; /*removes list style[bullet in this case]*/
}
.nav-items a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
button {
  padding: 10px;

  border: grey;
  border-radius: 10px;
  transition: transform 0.3s ease; /*zoom animation*/
}
button:hover {
 
  color: rgb(80, 80, 80);
  border: transparent;
  cursor: pointer; /*when hovered, cursor changes to pointer*/
  transform: scale(1.1); /*scale to magnify content*/
}
/* nav section ends */

/* About section starts */

.about {
  background-color: rgb(0, 0, 0);
  display: flex;
  padding-top: 40px;
  /* margin-top: 40px; */
}
.about-txt {
  padding: 20px;
  font-size: 20px;
  color: white;
  width: 50%;
}
h1 {
  font-size: 45px;
}
p {
  line-height: 35px;
}
.social-links {
  margin-top: 20px;
  display: flex;
}
.ordered-list {
  width: 100%;
  padding: 10px 0; /*only applies at top and bottom*/
}

i {
  margin: 20px 0 0 0; /*,argin only at top*/
  font-size: 28px;
  padding-left: 14px;
  transition: transform 0.3s ease;
  color: rgb(114, 111, 111);
}
i:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.about-img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 30px 60px 60px 60px;
}
.image-1 {
  width: 100%;
  border-radius: 100%;
}
/* About section ends */

/* Background section starts */

.section-heading {
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}
.section-txt {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.background {
  display: flex;
  justify-content: center;
  margin: 1.5em 0 3.5em 0;
}
.card {
  width: 350px; /* width of card */
  border: 1px solid #383838;
  border-radius: 10px;
  /* box-shadow: 2px 1px 20px 5px #000000b0; */
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  position: sticky;
  bottom: 150px;
  z-index: 1;
  position: inherit;
  transition: transform 0.5s ease;
  
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 2px 1px 20px 5px #7a7a7ab0;
}

/* Styling the card title */
.card-title {
  background-color: #5e5e5e;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Styling the card body */
.card-body {
  padding: 10px;
}

.card-items {
  list-style: none;
  text-decoration: none;
}

/* Style the card footer */
.card-footer {
  background-color: #5e5e5e;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.career {
  color: white;
  background-color: black;
  margin-top: 2em;
  padding: 30px 10px 10px 10px;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding: 10px;
}
.aims ul {
  padding: 30px;
  font-size: 30px;
  justify-content: center;
}
.aim-to {
  text-decoration: none;
  line-height: 50px;
}
.target {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 30px 60px 60px 60px;
}
.image-2 {
  width: 75%;
}

/* Footer starts */
.footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  padding: 50px 20px 10px 20px;
  position: relative;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 0;
}

.footer .social-icons {
  margin-top: 10px;
}

.footer .social-icons a {
  margin: 0 10px;
}
